#btn-save {
	color: #000;
}
#letter-spacing-3px {
	letter-spacing: 3px;
}
html {
	background-color: gray;
}
body {
	font-family: Raleway;
}
.main {
	background: url('../images/caloteiroBg.jpg') no-repeat center center;
	color: #fff;
	background-size: cover;
	padding-bottom: 200px;
	font-family: Raleway;
	.consulta-caloteiro-form {
		margin-top: 30px;
	}
}
