.footer {
	background-color: #1A3C36;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 2px;
	color: #fff;
	ul {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		list-style-type: none;
		li {
			color: #fff;
		}
	}
}