html {
	background-color: #1A3C36;
}
.main {
	padding-top: 200px;
	padding-bottom: 200px;
	background: url(../img/caloteiroBg.jpg) no-repeat center center;
	background-size: cover;
	padding-bottom: 200px;
	font-family: Raleway;
	h1 {
		margin-top: 180px;
		font-size: 60px;
		color: #000;
	}
}
