@import "helper/placeholders";
	
#msgUsuario {
	font-size: 20px;
	color: red;
}
#submit-btn {
	@extend %btn-default;
}
html {
	background-color: #1A3C36;
}
body {
	font-family: Raleway;
}
	.main {
		background: url(../img/caloteiroBg.jpg) no-repeat center center;
		background-size: cover;
		padding-top: 410px;
		padding-bottom: 70px;
		h1 {
			font-family: 'Roboto', sans-serif;
			font-size: 60px;
		}
		.form {
			width: 120px;
			border: 1px solid gray;
			border-radius: 3px;
		}
}
